#checkoutbox{
  width: 1300px;
  margin: 0 auto;

}
#manage-address{
  width: 1300px;
  height: 50px;
  border-bottom: 1px solid #ccc;
}
#manage-address-left{
  width: 100px;
  height: 30px;
  display: inline-block;
  margin:15px 30px;
}
#add-address{
  width: 1300px;
  height: 80px;
  border:1px dashed #ccc;
  margin-top: 20px;
  color: #9c9c9c;
  margin-bottom: 20px;
}
form {
  padding-right: 150px;
}
label {
  display: block;
  text-align: right;
  margin-bottom: 5px;
}
.address-list {
  overflow: hidden;
  height: 130px;
}
.address-list li {
  width: 250px;
  height: 120px;
  overflow: hidden;
  border: 1px solid #e4e4e4;
  padding: 5px;
  background-color: #ccc;
  line-height: 200%;
  cursor: pointer;
  box-sizing: border-box;
}
.address-list li.selected {
  border: 1px solid #fd4040;
}
.delete {
  float: right;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  background-color: #fd4040;
  color: white;
  cursor: pointer;
}
.delete:hover {
  background-color: white;
  color: #fd4040;
}
.show-all-address {
  clear: both;
  width: 100px;
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  background-color: #fd4040;
  color: white;
  float: left;
}
.show-all-address:hover {
  background-color: white;
  color: #fd4040;
}
h2{
  font-size: 16px;
}
.address-ul li{
  width: 500px;
  border: 2px solid #fd4040;
  padding: 20px;
  margin-bottom: 10px;
}
.address-ul li:hover{
  background: #fd4040;
  color: white;
}
.address-ul li:hover .address-type{
  border:1px solid white;
  background: white;
  color: #fd4040;
}
.address-type{
  width: 40px;
  height: 20px;
  display: inline-block;
  border:1px solid #fd4040;
  border-radius: 5px;
  text-align: center;
  background: #fd4040;
  color: white;
  margin-left: 10px;
}
.adds{
  margin-bottom: 5px;
}
#order{
  width: 110px;
  height: 21px;
  color: white;
  text-align: center;
  float: left;
  margin:10px 0 10px 984px;
  padding: 5px;
  background: #fd4040;
}
#order:hover{
  color: #fd4040;
  background:white;
}
#order a{
  color: white;
}
#order:hover a{
  color: #fd4040;
}