
#box {
  width: 1300px;
  height: 900px;
  margin: 0 auto;
  overflow: hidden;
}

#goods-kind li img {
  width: 238px;
  height: 260px;
}

#goods-kind li {
  width: 238px;
  float: left;
  list-style: none;
  height: 380px;
  overflow: hidden;
  position: relative;
  margin: 40px 10px 5px 10px;
  background-color: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#goods-kind li a {
  color: black;
  font-size: 16px;
  text-decoration: none;
}
#goods-kind li a:hover{
  color: #fd4040;
  text-decoration: underline;
}
#goods-kind li:hover {
  box-sizing: border-box;
  border: 1px solid #fd4040;
}

.price {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 20px;
  color: orangered;
}

.title {
  margin-left: 20px;
}

#particularbox {
  position: relative
}

#particular {
  width: 218px;
  height: 240px;
  position: absolute;
  background: rgba(255, 64, 64, 0.7);
  padding: 10px;
  font-size: 18px;
  color: white;
  display: none;
}

#goods-kind li #particularbox:hover #particular{
  display: block;
}
