*{
	padding: 0;
	border: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #666666;
}
html,body{
	width: 100%;
}
.order-body{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}
.order-nav{
	height: 40px;
	background: #CCCCCC;
}
.order-nav >li{
	float: left;
	color: #3E3E3E;
	font-size: 15px;
	text-align: center;
	line-height: 40px;
	width: 160px;
}
.order-nav > .order-detail{
	width: 360px;
}
.shop-order-list >img{
	width: 300px;
	height: 300px;
	margin: 30px auto;
	display: block;
}
.shop-order-list > h3 {
	width: 300px;
	font-size: 30px;
	margin: 30px auto;
	display: block;
}
.shop-order-list >li{
	width: 1200px;
	margin-top:10px ;
}
.order-goods{
	width: 1200px;
	height: 160px;
}
.goods-img,.goods-name,.consignee,b,.price,.state,.other{
	float: left;
	width: 130px;
	display:inline-block;
	height: 150px;
	margin:10px 10px 0 0 ;
}
.goods-name{
	width: 300px;
	line-height: 50px;
	color: #666666;
	font-size: 15px;
}
.cancel-order{
	width: 1200px;
	height: 30px;
	background: #87CEEB;
}
.cancel-order > p{
	display: inline-block;
	float: right;
	width: 80px;
	height: 30px;
	color: #111111;
	font-size: 12px;
	text-align:center ;
	line-height: 30px;
}
.cancel-order > p:hover{
	background: red;
	color: #FFFFFF;
}
footer{
	height:500px;
}
