*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
body,html{
	width: 100%;
	height: 100%;
}
header{
	width: 100%;
	margin:0 auto;
}
.action{
	width: 100%;
	height: 35px;
	background: #f2f2f2;
	overflow: hidden;
	color:#9d9d9d;
	font-size: 13px;
	box-shadow:0 10px 10px #ccc;
	position: relative;
	z-index: 2;
}
.action > span {
	line-height: 35px;
	margin-left: 20px;
	float: left;
	display:block;
}
.action > a:hover{
	color: #fd4040;
}
.action > a{
	line-height: 35px;
	margin-right:50px;
	display: block;
	float: right;
	color: #9c9c9c;
	text-align: center;
}
.check-order{
	cursor: pointer;
}
.action .login{
	color:#fd4040;
}

.searchbox{
	width: 1300px;
	overflow: hidden;
}
.searchbox > .logo > img {
	margin: 24px 125px 0 55px;
	float: left;
}
.searchbox > .search{
	width: 613px;
	height: 40px;
	margin-top: 40px;
	float: left;
	border: 2px solid #fd4040;
}
.searchbox > .search > .search-left{
	width:480px ;
	height: 40px;
	float: left;
	border: none;
	color: #999999;
	font-size: 15px;
	outline: none;

}
.search-button{
	width:135px;
	height:40px;
	background: #fd4040;
	float: left;
	color: #FFFFFF;
	font-size: 19px;
	margin-left: -2px;
	border: none;
	outline: none;
}
.searchbox > .erweima{
	width: 100px;
	height: 130px;
	float: right;
	margin: 20px 50px 0 0;
}
.searchbox > .erweima >i{
	display: block;
	width: 90px;
	height: 90px;
	background: url(../images/下载.png);
	background-size:100px 100px ;
}
.searchbox > .erweima >span{
	font-size:17px ;
	line-height: 10px;
	margin: 15px 15px 0 15px;
	display: inline-block;
}
.permission{
	width: 650px;
	height: 35px;
	margin:20px auto;
	background: #808080;
}
.permission > li{
	float: left;
	margin-left:12px ;
}
.permission > li > a{
	color: #000000;
	font-size: 12px;
}
.permission > .line1{
	width: 1px;
	height: 15px;
	margin-top:5px ;
	background: #c2bbc2;
}
.footer-bottom{
	width: 700px;
	margin: 40px auto;

}
.footer-bottom > .bottom-text{
	width: 540px;
	float: left;
	margin: auto;
	margin-bottom: 50px;
}
.footer-bottom > .bottom-text > li{
	text-align: center;
	line-height: 20px;
}
#username,#logout,#regsiter,#login{
	display: none;
}
.shop-nav{
	width: 100%;
	height: 40px;
	margin-top: 20px;
	border-bottom: 1px solid #fd4040;
}
#shop-list{
	width: 810px;
	height: 40px;
	margin: 0 auto;
}
#shop-list >li{
	float: left;
	width: 80px;
	height: 40px;
}
#shop-list >li:hover{
	background: #f01e2d;
	border-radius: 30px;
}
#shop-list >li:hover a{
	color: white;
}
#shop-list >li > a{
	color: #fd4040;
	font-size: 16px;
	margin-left: 25px;
	line-height: 40px;
}
.carousel{
	width: 1300px;
	height: 400px;
	margin: 0 auto;
}
.carousel-left,.carousel-right{
	width: 240px;
	height: 400px;
	float: left;
}
.carousel-left{
	margin-right:5px ;
	background: url(../images/QQ图片20170914202146.jpg) no-repeat;
}
.carousel-right{
	background: url(../images/QQ图片20170914202126.png) no-repeat;
	margin-left: 5px;
}
.carousel-center{
	width: 800px;
	height: 400px;
	overflow: hidden;
	float: left;
	position: relative;
	text-align: center;
}
.carousel-center > .imagesList{
	height: 400px;
	width: 8000px;
	position: absolute;
}
.carousel-list{
	position: absolute;
}
.carousel-list > li{
	float: left;
}
.carousel-list > li > a > img{
	display:block;
	width: 800px;
	height: 400px;
	
}
.left-button , .right-botton{
	display: block;
	position: absolute;
	top: 130px;
	width: 40px;
	height: 130px;
	border: none;
	outline: none;
	background:rgba(153,153,153,0.8);
	z-index: 100;
}
.left-botton{
	left: 0;
}
.right-botton{
	right: 0;
}
.circle-list{
	position: absolute;
	left:50%;
	bottom: 10px;
	margin-left: -100px;
	z-index: 100;
}
.circle-list > li{
	float: left;
	width: 30px;
	height: 5px;
	background: #666666;
	margin:0 10px ;
}
.circle-list  .current{
	background: white;
}
h5{
	display: block;
	width: 100%;
	height: 50px;
	background: #CCCCCC;
	color: #fd4040;
	font-size: 40px;
	font-weight: 500px;
	text-align: center;
	margin: 10px 0;
}
.hot-goods{
	width: 1100px;
	margin:0 auto;
}
.hot-goods > li{
	float: left;
	width: 202px;
	height: 390px;
	margin-left:10px ;
	border:1px solid #ccc;
	box-sizing:border-box;
	margin-bottom: 10px;
}
.HGimg{
	width: 200px;
	height: 200px;
	overflow: hidden;
}
.HGimg > img{
	width: 200px;
	height: 200px;
}
.HGimg:hover img{
	width: 220px;
	height: 220px;
	margin-left: -10px;
	margin-top: -10px;
}
.HGprice{
	color: #fd4040;
	font-size: 20px;
	font-weight: bold;
	width: 50px;
	margin: 20px auto;
}
.HGname{
	color: #666666;
	font-size:10px ;
	line-height: 25px;
}
.body{
	position: relative;
}
 .left-nav{
 	position: fixed;
	top: 0;
	right:0;
	height: 100%;
	background: #303030;
	z-index: 3;
 }
.left-nav > .leftnav1{
   	margin-top: 200px;
}
.left-nav > li{
  width: 34px;
	height: 34px;	
	overflow: hidden;
	margin: 10px 0 ;
}
.left-nav > li >a{
 	display: block;
	width: 34px;
	height: 29px;	
	margin: 7px;
}
.left-nav > li >.returnTop{
  	color: #FFFFFF;
}
.left-nav > .leftnav2{
  	color: #FFFFFF;
  	height:140px;
  	text-align: center;
  	font-size:20px ;
  	margin-bottom: 50px;
  	padding-top: 15px;
}
.left-nav > .leftnav6{
	margin: 0;
}
.left-nav > li:hover{
	background: red;
}
.left-nav  > li> .hot{
	top: 30px;
}
 .left-nav > .leftnav1 > a{
 		background: url(../images/toolbars.png) no-repeat -96px -182px;
 }
 .left-nav > .leftnav2 > a{
 	background: url(../images/toolbars.png) no-repeat -56px -9px;
 }
   .left-nav > .leftnav3 > a{
 	background: url(../images/toolbars.png) no-repeat -57px -60px;
 }
  .left-nav > .leftnav4 > a{
 	background: url(../images/toolbars.png) no-repeat -56px -109px;
 }
  .left-nav > .leftnav5 > a{
 	background: url(../images/toolbars.png) no-repeat -57px -158px;
 }
.footer-top{
	width: 100%;
	height: 600px;
	background: #ffffff;
}
.footer-top > ul{
	height: 125px;
	width:1190px;
	margin: 0 auto;
}
.footer-top{
	height:270px;
	background: #FFFFFF;
}
.footer-top > ul{
	width: 1190px;
	height: 100px;
	margin: 10px auto;
}
.footer-top > ul >li{
	float: left;
	width:200px;
	margin: 30px 46px;
}
.footer-top > ul >li > i{
	width: 45px;
	height: 45px;
	float: left;
}
.footer-top > ul >li > .img1{
	background: url(../images/icon1.png) no-repeat -751px 0;
}
.footer-top > ul >li > .img2{
	background: url(../images/icon1.png) no-repeat -873px 0;
}
.footer-top > ul >li > .img3{
	background: url(../images/icon1.png) no-repeat -812px 0;
}
.footer-top > ul >li > .img4{
	background: url(../images/icon1.png) no-repeat -935px 0;
}
.gz{
	height: 300px;
	width: 1190px;
	margin: 0 auto;
}
.gz > ul{
	width: 200px;
	float: left;
}
.gz > ul > li{
	width: 100px;
	height: 40px;
	margin: 10px 10px 5px ;
	color: red;
	font-size:20px ;
	position: relative;
}
.gz > ul > li >b{
	width: 33px;
	height: 33px;
	display: block;
	background: url(../images/icon1.png) no-repeat -751px -69px;
}
.gz > ul > li >img{
	position: absolute;
	width: 100px;
	height: 100px;
	display: none;
}
.gz > ul > .weixin >img{
	top: 0;
	left: 50px;
}
.gz > ul > .weixin:hover >img{
	display: block;
}
.gz > ul > .weibo >img{
	top: 10px;
	left: 50px;
}
.gz > ul > .weibo:hover >img{
	display: block;
}
.gz > ul > .yx >img{
	top: -80px;
	left: 50px;
}
.gz > ul > .yx:hover >img{
	display: block;
}
.gz > ul > li >b:hover{
	background: url(../images/icon1.png) no-repeat -751px -109px;
}
.gz > ul > li > i{
	width: 33px;
	height: 33px;
	display: block;
	background: url(../images/icon1.png) no-repeat -796px -69px;
}
.gz > ul > li >i:hover{
	background: url(../images/icon1.png) no-repeat -796px -109px;
}
.gz > ul > li >s{
		width: 33px;
	height: 33px;
	display: block;
	background: url(../images/icon1.png) no-repeat -840px -69px;
}
.gz > ul > li >s:hover{
	background: url(../images/icon1.png) no-repeat -840px -109px;
}
.gz > dl{
	width: 150px;
	height: 200px;
	float: left;
	border-left: 1px solid #ccc;
	color: #666666;
}
.gz > dl >dt{
	font-size: 20px;
	margin:15px 20px;
}
.gz > dl >dd{
	margin: 20px;
	font-size: 10px;
}
.gz-right{
	width: 200px;
	height: 200px;
	float: left;
	margin-left: 20px;
}
.gz-right > img{
	width: 150px;
	height: 150px;
	display: block;
}
.gz-right > p{
	color: #666666;
	font-size:10px ;
	margin: 30px;
	display: block;
}
#footer-body{
		background: #808080;
		width: 100%;
		height: 200px;
		overflow: hidden;
}
