*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
body,html{
	width: 100%;
	height: 100%;
}
header{
	width: 100%;
	margin:0 auto;
}
.action{
	height: 35px;
	background: #f2f2f2;
	overflow: hidden;
	color:#9d9d9d;
	font-size: 13px;
	box-shadow:0 10px 10px #ccc;
}
.action > span {
	line-height: 35px;
	margin-left: 20px;
	float: left;
	display:block;
}
.action > a:hover{
	color: #fd4040;
}
.action > a{
	line-height: 35px;
	margin-right:10px;
	display: block;
	float: right;
	color: #9c9c9c;
}
.action .login{
	color:#fd4040;
}
.searchbox{
	width:100%;
	overflow: hidden;
}
.searchbox > .logo > img {
	margin: 24px 125px 0 55px;
	float: left;
}
.searchbox > .search{
	width: 613px;
	height: 40px;
	margin-top: 40px;
	float: left;
	border: 2px solid #fd4040;
}
.searchbox > .search > .search-left{
	width:480px ;
	height: 40px;
	float: left;
	border: none;
	color: #999999;
	font-size: 15px;
	outline: none;

}
.search-button{
	width:135px;
	height:40px;
	background: #fd4040;
	float: left;
	color: #FFFFFF;
	font-size: 19px;
	margin-left: -2px;
	border: none;
	outline: none;
}
footer{
	width: 100%;
	background: #AAAAAA;
	margin:0 auto;
	overflow: hidden;
}
footer > .permission{
	width: 650px;
	height: 35px;
	margin: 70px auto;
}
footer > .permission > li{
	float: left;
	margin-left:12px ;
}
footer > .permission > li > a{
	color: #666666;
	font-size: 12px;
}
footer > .permission > .line1{
	width: 1px;
	height: 15px;
	margin-top:5px ;
	background: #c2bbc2;
}
footer > .footer-bottom{
	width: 700px;
	margin: 40px auto;
}
footer > .footer-bottom > .bottom-text{
	width: 540px;
	float: left;
	margin: auto;
	margin-bottom: 50px;
}
footer > .footer-bottom > .bottom-text > li{
	text-align: center;
	line-height: 20px;
}
#username,#logout,#regsiter,#login{
	display: none;
}
.shop-nav{
	width: 100%;
	height: 40px;
	margin-top: 20px;
	border-bottom: 1px solid #fd4040;
}
.shop-list{
	width: 810px;
	height: 40px;
	margin: 0 auto;
}
.shop-list >li{
	float: left;
	width: 80px;
	height: 40px;
}
.shop-list >li:hover{
	background: #f01e2d;
	border-radius: 30px;
}
.shop-list >li:hover a{
	color: white;
}
.shop-list >li > a{
	color: #fd4040;
	font-size: 16px;
	margin-left: 25px;
	line-height: 40px;
}
.carousel{
	width: 100%;
	height: 400px;
}
.carousel-left,.carousel-right{
	width: 230px;
	height: 400px;
	float: left;
	margin: 0 20px;
}
.carousel-right{
	float: right;
}
.carousel-center{
	width: 800px;
	height: 400px;
	overflow: hidden;
	float: left;
	position: relative;
	text-align: center;
}
.carousel-center > .imagesList{
	height: 400px;
	width: 8000px;
	position: absolute;
}
.carousel-list{
	position: absolute;
}
.carousel-list > li{
	float: left;
}
.carousel-list > li > a > img{
	display:block;
	width: 800px;
	height: 400px;
	
}
.left-button , .right-botton{
	display: block;
	position: absolute;
	top: 130px;
	width: 40px;
	height: 130px;
	border: none;
	outline: none;
	background:rgba(153,153,153,0.8);
	z-index: 100;
}
.left-botton{
	left: 0;
}
.right-botton{
	right: 0;
}
.circle-list{
	position: absolute;
	left:50%;
	bottom: 10px;
	margin-left: -100px;
	z-index: 100;
}
.circle-list > li{
	float: left;
	width: 30px;
	height: 5px;
	background: #666666;
	margin:0 10px ;
}
.circle-list  .current{
	background: white;
}
h5{
	display: block;
	width: 100%;
	height: 50px;
	background: #CCCCCC;
	color: #fd4040;
	font-size: 40px;
	font-weight: 500px;
	text-align: center;
	margin: 10px 0;
}
.hot-goods{
	width: 1100px;
	margin:0 auto;
}
.hot-goods > li{
	float: left;
	width: 202px;
	height: 390px;
	margin-left:10px ;
	border:1px solid #ccc;
	box-sizing:border-box;
	margin-bottom: 10px;
}
.HGimg{
	width: 200px;
	height: 200px;
	overflow: hidden;
}
.HGimg > img{
	width: 200px;
	height: 200px;
}
.HGimg:hover img{
	width: 220px;
	height: 220px;
	margin-left: -10px;
	margin-top: -10px;
}
.HGprice{
	color: #fd4040;
	font-size: 20px;
	font-weight: bold;
	width: 50px;
	margin: 20px auto;
}
.HGname{
	color: #666666;
	font-size:10px ;
	line-height: 25px;
}
.body{
	position: relative;
}
.returnTop{
	display: block;
	width: 30px;
	height: 50px;
	background: #CCCCCC;
	color: #666666;
	font-size: 16px;
	text-align: center;
	line-height:25px;
	position: fixed;
	top: 350px;
	right: 5px;
}
.returnTop:hover{
	background: #fd4040;
	color: #FFFFFF;
}
