#navbox {
  width: 1300px;
  height: 50px;
  margin: 0 auto;
  background: #fd4040;
  overflow: hidden;
  margin-top: 20px;
}

#nav li {
  list-style: none;
  padding: 14px 49px;
  float: left;
}

#nav li:hover {
  background: #f01e2d;
}

#nav li a {
  text-decoration: none;
  text-align: center;
  color: white;
}